# ファイル形式
*.md
*.pdf
*.html
*.png
*.csv
# outputsは無視
outputs/

# model
1droplet/model/

# checkpoint
.ipynb_checkpoints/

# cache
*.pyc
__pycache__/

# data
1droplet/230724
2droplets/230927
5droplets/230928
10droplets/231030
30droplets/230728